# PostgreSQL
POSTGRES_USER=grsu
POSTGRES_PASSWORD=change_me
POSTGRES_DB=grsu_ide

# Auth Service
JWT_ACCESS_SECRET=change_me_access
JWT_REFRESH_SECRET=change_me_refresh
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=7d
BCRYPT_ROUNDS=12

# Services URLs (внутри docker сети)
AUTH_SERVICE_URL=http://auth-service:3001
FS_SERVICE_URL=http://fs-service:3002
TASK_SERVICE_URL=http://task-service:3003
RUNNER_SERVICE_URL=http://runner-service:3004

# AI provider (Gemini native API)
# Можно один ключ:
GEMINI_API_KEY=your_key_here
# Или несколько ключей через запятую:
GEMINI_API_KEYS=key1,key2,key3
GEMINI_BASE_URL=https://generativelanguage.googleapis.com/v1beta
GEMINI_MODEL=gemini-3-flash-preview